<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL Shortener</title>
  </head>
  <body>
    <h1>Hey from server.</h1>

    <% if (locals.id) { %>
    <p>Url Generated: http://localhost:8000/url/<%= id %></p>
    <% } %>

    <div>
      <form method="POST" action="/url">
        <label for="url"> Enter your URL</label>
        <input type="text" name="url" id="url" placeholder="www.example.com" />

        <button type="submit">Generate</button>
      </form>
    </div>

    <% if (locals.urls) { %>
    <br />
    <table border="2">
      <thead>
        <th>Serial</th>
        <th>ShortId</th>
        <th>RedirectURL</th>
        <th>Short URL</th>
        <th>Clicks</th>
      </thead>
      <tbody>
        <% urls.forEach((element, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%=element.shortId %></td>
          <td><%= element.redirectURL %></td>
          <td>
            <a href="http://localhost:8000/url/<%= element.shortId %>" target="_blank">Link</a>
          </td>
          <td><%= element.visitHistory.length %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
